/* Start Variables */

:root {
    --main-color: #082465;
    --sec-color: #48494a;
    --butt-color: #fec913;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../photos/body-bg.jpg);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

a.button {
    display: block;
    background-color: var(--butt-color, #fec913);
    width: fit-content;
    padding: 15px 60px 15px 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
    margin: 0 auto;
}

a.button:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0px 5px 10px -5px rgb(0 0 0 / 70%);
}

a.button::after {
    content: "\f30b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    top: 13px;
    right: 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.title h2 {
    font-size: 32px;
    color: var(--main-color, #082465);
    margin-bottom: 5px;
}

.title p {
    color: var(--sec-color, #48494a);
    line-height: 1.7;
}

/* End Component */

/* Start Header */

header {
    padding: 25px 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .container .logo img {
    width: 25px;
    margin-right: 5px;
}

header .container .logo span {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

@media (max-width: 991px) {
    header .container nav {
        display: none;
    }
}

header .container nav ul {
    display: flex;
    align-items: center;
}

header .container nav ul li a {
    display: block;
    padding: 20px;
    text-transform: uppercase;
    color: #232323;
}

header .container nav ul li i {
    font-size: 20px;
    color: #232323;
    cursor: pointer;
}

header .container .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 991px) {
    header .container .menu {
        display: flex;
    }
}

header .container .menu span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: white;
    margin-bottom: 6px;
}

/* End Header */

/* Start Landing */

.landing {
    position: relative;
    height: 95vh;
    overflow: hidden;
}

@media (max-width: 991px) {
    .landing {
        height: fit-content;
    }
}

.landing::before {
    content: "";
    position: absolute;
    width: 48%;
    height: 100%;
    background: url(../photos/landing.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: right bottom;
}

@media (max-width: 991px) {
    .landing::before {
        width: 200%;
    }
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
    color: white;
    height: 100%;
}

@media (max-width: 991px) {
    .landing .container {
        flex-direction: column;
        padding-top: 100px;
        align-items: flex-start;
    }
}

.landing .container .text {
    width: 45%;
}

@media (max-width: 991px) {
    .landing .container .text {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .landing .container .text {
        text-align: center;
    }
}

.landing .container .text h3 {
    font-size: 28px;
    font-weight: 400;
}

.landing .container .text h1 {
    font-size: 50px;
    color: var(--butt-color, #fec913);
    margin: 20px 0;
}

.landing .container .text p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .container .text a {
    margin: 0;
}

@media (max-width: 768px) {
    .landing .container .text a {
        margin: 0 auto;
    }
}


.landing .container .image img {
    max-width: 100%;
}

/* End Landing */

/* Start About */

.about {
    padding-top: 75px;
    padding-bottom: 75px;
}

.about .container .image {
    text-align: center;
}

.about .container .image img {
    max-width: 100%;
}

.about .container a {
    margin: 20px auto;
}

/* End About */

/* Start Teachers */

.teachers {
    padding-top: 75px;
    padding-bottom: 75px;
}

.teachers .container .teach-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.teachers .container .teach-content .teacher {
    flex-basis: calc((100% / 4) - 30px);
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 576px) {
    .teachers .container .teach-content .teacher {
        flex-basis: 100%;
    }
}

.teachers .container .teach-content .teacher .image {
    margin-bottom: 10px;
}

.teachers .container .teach-content .teacher .image img {
    width: 100%;
}

.teachers .container .teach-content .teacher h5 {
    font-size: 20px;
    color: var(--sec-color, #48494a);
    font-weight: 500;
    text-align: center;
}

/* End Teachers */

/* Start Vehicles */

.vehicles {
    padding-top: 75px;
    padding-bottom: 125px;
}

.vehicles .container .content {
    position: relative;
}

.vehicles .container .content .image {
    text-align: center;
}

.vehicles .container .content .image img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .vehicles .container .content .image img {
        width: 400px;
    }
}

.vehicles .container .content .arrow {
    position: absolute;
    background-color: var(--main-color, #082465);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    top: 50%;
}

@media (max-width: 576px) {
    .vehicles .container .content .arrow {
        top: calc(100% + 20px);
    }
}

.vehicles .container .content .arrow.right {
    right: 0;
}

@media (max-width: 576px) {
    .vehicles .container .content .arrow.right {
        right: 20%;
    }
}


@media (max-width: 576px) {
    .vehicles .container .content .arrow.left {
        left: 20%;
    }
}

.vehicles .container .content .arrow i {
    color: white;
}

/* End Vehicles */