/* Start Variables */

:root {
    --main-color: #082465;
    --sec-color: #48494a;
    --butt-color: #fec913;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
    padding: 30px 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .container .logo img {
    width: 25px;
    margin-right: 5px;
}

header .container .logo span {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

@media (max-width: 991px) {
    header .container nav {
        display: none;
    }
}

header .container nav ul {
    display: flex;
    align-items: center;
}

header .container nav ul li a {
    padding: 20px;
    text-transform: uppercase;
    color: #232323;
}

header .container nav ul li i {
    font-size: 20px;
    color: #232323;
}

header .container .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 991px) {
    header .container .menu {
        display: flex;
    }
}

header .container .menu span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: white;
    margin-bottom: 6px;
}

/* End Header */